@charset "UTF-8";
/* CSS Document */

body {font-family:'Open Sans', sans-serif;background:#f3f4f5}
.container {background:#fff}
.subscribe {padding:8px 0 10px 0;background:#cdcdcd}
.subscribe .container {background:transparent}
.subscribe p {line-height:33px;margin:0;color:#fff;font-size:14px;font-weight:400}
input.register {background:url(../img/icon-arrow.png)no-repeat top center !important;width:18px;height:18px;position:absolute;top:9px;right:22px;border:0px;outline:0;text-indent:-9999px}
header .container {padding:20px 0}
#wpcf7-f38-o1 .form-control {height:34px !important;margin-bottom:0px !important}
.ajax-loader {display:none}
header .input-group {margin:13px 0 20px 0}
header nav {overflow:hidden}
header ul.nav-justified {border-top:3px solid #d9dcdf;clear:both;margin-top:20px}
header li a {font-size:13px;font-family:'novecento_sans_widebook';text-transform:uppercase;color:#8a8a8a}
.nav>li>a:focus, .nav>li>a:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {color:#666;background:transparent}
.caret {display:block;margin:2px auto}
header .form-control {background:#cdcdcd;border-radius:0px;height:34px !important}
header .form-control::-webkit-input-placeholder {color:#fff}
header .form-control:-moz-placeholder {color:#fff}
header .form-control::-moz-placeholder {color:#fff}
header .form-control:-ms-input-placeholder {color:#fff}
header select {margin-top:20px;width:100%;padding:10px;border:1px solid #efefef;background:url(../img/icon-arrow-menu.png)no-repeat center right;appearance:none;-webkit-appearance:none;-moz-appearance:none}
header input[type=submit].search {background:url(../img/icon-search.png)no-repeat top center;width:23px;height:25px;display:block;border:0;position:absolute;top:56px;right:22px;text-indent:-9999px}
.inspiracao li a {font-family:'novecento_sans_widenormal' !important}
.subscribe table {width:100%;}
.subscribe input[type=email] {display:block;width:100%;height:34px;font-size:14px;padding:6px 12px;color:#555;background-color:#fff;}
header input[type=submit].search:hover {background:url(../img/icon-search.png)no-repeat top center;width:23px;height:25px;display:block;border:0;position:absolute;top:56px;left:205px;text-indent:-9999px}
.subscribe input[type=submit] {background:url(../img/icon-arrow.png)no-repeat top center !important;width:18px;height:18px;position:absolute;top:9px;right:22px;border:0px;outline:0;text-indent:-9999px}
.news, .best, .success {margin-bottom:40px}
.news .container, .success .container {padding:20px 0}
.carousel {clear:both}
.insp img {min-height:131.656px !important;max-height:131.656px !important}
.carousel-inner {padding-bottom:20px;border-bottom:3px solid #ececec}
.carousel-control.left, .carousel-control.right {background:transparent !important}
.carousel-control {width:5%}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {top:57%}
.type h2 {font-size:14px;color:#8a8a8a;font-family:'novecento_sans_widenormal';line-height:160%}
.type h2 big {display:block;font-size:30px;font-family: 'novecento_sans_widedemibold';margin-left:-3px}
.type h2.boy big {color:#d2d6d9}
.type h2.girl big {color:#e1ceca}
.type p {color:#8a8a8a;font-size:14px;margin-top:25px}
.btn {border-radius:0 !important;-moz-border-radius:0 !important;-webkit-border-radius:0 !important;padding:15px 20px;font-family: 'novecento_sans_widemedium';text-transform:uppercase;color:#555}
.btn-boys {background:#d2d6da}
.btn-girls {background:#e1ceca}
.boys, .girls {overflow:hidden;padding-top:20px;border-bottom:55px solid;padding-bottom:25px}
.boys {border-color:#d2d6da}
.girls {border-color:#e1ceca}
.type .container {padding-top:20px}
.type .container >div:first-child {border-right:3px solid #ececec}
.copyright {padding:10px 0;background:#efefef}
.copyright p {margin:0}
.breadcrumbsHolder {border-top:1px solid #efefef;padding-top:20px}
.productsHolder .boxProduct, .inspiration {margin-bottom:20px}
.dropdown-submenu {position:relative}
.featured .container {padding-top:30px}
.line {border-top:3px solid #efefef;display:block}
.featured h2, .stores h2 {margin:0;padding:16px 21px;background:#eae1be;float:left;text-transform:uppercase;font-size:20px;color:#262223;font-family: 'novecento_sans_widelight';margin-bottom:20px}
.inspiration {text-align:center;padding:20px;background:#efefef}
.boxProduct {text-align:center;padding-bottom:30px;border-bottom:1px solid #efefef;margin-bottom:30px}
.boxProduct a {text-decoration:none}
.boxProduct a.btn, form input[type="submit"], .btn {background:#eae1be;font-weight:700;color:#262223;font-family:'Open Sans';border:0px;padding:7px 15px}
.boxProduct a.btn:hover, form input[type="submit"]:hover, .btn:hover {background:#666;color:#fff} 
.boxProduct p {text-transform:uppercase;font-size:15px;font-weight:700;color:#8a8a8a;padding-bottom:10px;margin-bottom:13px;border-bottom:3px solid #efefef}
.boxProduct h2, .boxProduct h3, .boxProduct h4 {margin:10px 0}
.boxProduct h2 {font-size:14px;color:#8a8a8a;font-weight:700;margin:0;padding:0;background:transparent;float:none;font-family:'Open Sans';text-transform:uppercase;display: block;display: -webkit-box;
  max-width: 100%;height: 31px;margin: 0 auto;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow:ellipsis}
.boxProduct h3 {font-size:16px;color:#84907c;font-weight:300}
.boxProduct h4 {font-size:25px;font-weight:300;color:#8a8a8a}
.boxProduct img {min-height:212.5px;max-height:212.5px;display:inline-block;margin-bottom:20px;}
.related img, .categoryBox img {min-height:144.375px;max-height:144.375px;display:inline-block;}
.productLine:nth-child(1) {margin-bottom:50px;padding-bottom:50px;border-bottom:3px solid #efefef;float:left}
.stores .container {padding-top:50px;padding-bottom:30px}
.stores h2 {background:#deedd6}
footer {font-size:12px}
footer .container {padding:30px 0}
footer h3 {font-size:19px;font-family: 'novecento_sans_widelight';text-transform:uppercase;color:#8a8a8a;margin-bottom:20px}
footer ul {list-style:none;margin:0;padding:0;padding-bottom:15px}
footer ul li:before {content:'»';margin-right:5px;font-size:14px;color:#a8a8a8}
footer ul li a {padding:5px 0;font-size:11px;color:#8a8a8a;display:inline-block}
footer ul li a:hover {text-decoration:none;color:#555;font-weight:700}
footer .text-center p {padding:20px 0}
.dropdown-submenu>.dropdown-menu {top:0 !important;left:100% !important;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px;border-radius:0 6px 6px 6px}
.dropdown-submenu:hover>.dropdown-menu {display:block}
.dropdown-submenu>a:after {display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#ccc;margin-top:5px;margin-right:-10px}
.dropdown-submenu:hover>a:after {border-left-color:#fff}
.dropdown-submenu.pull-left {float:none}
.dropdown-submenu.pull-left>.dropdown-menu {left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius: 6px 0 6px 6px;border-radius: 6px 0 6px 6px}
.contact {text-transform:uppercase;font-size:26px;color:#666;margin-bottom:40px}
.shareaholic-share-buttons {margin:0 !important;}
.shareaholic-share-buttons li:first-child {margin-left:0px;}
#myCarousel2 .carousel-inner {border-bottom:0px;padding-bottom:0px}

/* ## INNER PAGES ## */
.titleHolder {padding:16px 20px;background:#ddecf1;margin-bottom:30px}
.titleHolder h2 {font-family:'novecento_sans_widelight';font-size:20px;color:#211f24;margin:0;padding:0;text-transform:uppercase}
.sidebar h2  {font-family:'novecento_sans_widelight';font-size:20px;color:#211f24;margin:0;padding:0;text-transform:uppercase;padding:15px 18px 13px 18px;}
.sidebar h2.even {background:#d7d7d7}
.sidebar h2.odd {background:#f3dade}
.sidebar ul {list-style:none;margin:0;padding:16px;background:#f3f4f6}
.sidebar ul li {padding:5px 0}
.sidebar ul li a {font-size:16px;color:#666;margin:0;padding:0;text-transform:uppercase;font-family: 'novecento_sans_widedemibold';}
.sidebar ul li a:hover, .sidebar ul li a:focus {text-decoration:none}
.searchResults {font-family:'novecento_sans_widelight';font-size:20px;color:#211f24;margin:0;padding:0;text-transform:uppercase;padding:15px 18px 13px 18px;background:#eae2be;margin-bottom:30px}
form .form-control {margin-bottom:10px;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;-ms-border-radius:0;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;-ms-box-shadow:none;height:45px}
form textarea {height:150px !important}
.inspirationImg {margin-bottom:40px}
.innerContent p {font-size:15px;font-weight:300;color:#666;line-height:160%}
.productInfo h2 {font-family:'novecento_sans_widelight';font-size:18px;color:#666;margin:0;padding:0;text-transform:uppercase}
.productInfo h3 {font-family: 'novecento_sans_widemedium';text-transform:uppercase;color:#555;font-size:14px}
.productInfo a {}
.blogPost {padding-bottom:20px;margin-bottom:20px;border-bottom:1px solid #efefef}
.children {padding:0 7px !important}
.children li {padding:2px 0 !important}
.children li a {font-size:12px !important ;font-weight:300;font-family:'novecento_sans_widelight' !important}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.sidebar h2 {font-size:14px}
	header select {display:none}
	.register, .search {right:22px !important;left:auto}
	.boxProduct h4 {font-size:18px}
	footer ul {text-align:center}
	footer h3 {text-align:center}
	footer ul li a {font-size:14px}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	body, .text-right {text-align:center !important}
	img {display:inline-block !important}
	.register, .search {right:22px !important;left:auto}
	.search {top:77px}
	.children {display:none}
	header img:first-child {margin-bottom:20px}
	section .col-xs-4 {margin-bottom:20px}
	.boxProduct h4 {font-size:18px}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	body, .text-right {text-align:center !important}
	img {display:inline-block !important}
	.register, .search {right:22px !important;left:auto}
	.search {top:77px !important}
	.children {display:none}
	header img:first-child {margin-bottom:20px}
	section .col-xs-4 {margin-bottom:20px}
}