/*
Theme Name: Mamãe Achei - Tema Exclusivo
Theme URI: http://www.mamaeachei.com.br
Author: Sour Comunicação
Author URI: http://sour.com.br/
Version: 1.0
License: Private
*/

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}
#menu-item-1076 > a, .menu-item-1084 > a, .menu-item-1096 > a {display:none}
.sub-menu {margin:0;padding:0;list-style:none}
.sub-menu li a {display:block;padding:3px 20px;clear:both;font-weight:400;line-height:1.42857143;color:#333;white-space:no-wrap}
.sub-menu li a:hover {color:##262626;text-decoration:none;background-color:#f5f5f5}
.menu-categorias-container, .menu-lojas-container {width:400px}
.two-columns li {width:49%;display:inline-block}
.menu-item-1084, .menu-item-1096 {width:100% !important}
.listadelojas {min-height:300px}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.blogPost img {max-width:100%;height:auto}
.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}


/*FOR JOTFORM ONLY
---------------------------------------*/
.modal-header{
    border-bottom: 0px !important;
}
.modal, .modal-content{
    border-radius: 0px !important;
    width: 100% !important;
    border: 0px !important;
    height: auto !important;
}

.modal-header{
    background: rgba(0,0,0,0) !important;
    background-color: rgba(0,0,0,0) !important;
}

button[class="close"]{
    color: rgba(0,0,0,1) !important;
    z-index: 9999 !important;
    opacity: 0.3 !important;
    filter: alpha(opacity=30) !important;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

button[class="close"]:hover{
    -ms-transform: rotateY(180eg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    opacity: 0.8 !important;
    filter: alpha(opacity=80) !important;
}

/* For the ajas loading plugin */
div.alm-btn-wrap{
    clear: both;
}